.main{
    height:47.4vh   ;
    position: relative;
}


.main2{
    position: absolute;
    width: 100%;
    height: 17vh;
    margin: 0;
}
.main2_wrap{
    margin:4vh 5%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
}
.main2_e{
    display: flex;

}
.main2_text_wrap{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    justify-content: space-evenly;
    text-align: left;
}

.main2_e1_img{
    width: 83px;
    height: 83px;
    background-color: #efeaff;
    border-radius: 20px;
}
.main2_e2_img{
    width: 83px;
    height: 83px;
    background-color: #ecffda;
    border-radius: 20px;
}
.main2_e3_img{
    width: 83px;
    height: 83px;
    background-color: #dae6ff;
    border-radius: 20px;
}
.main2_e4_img{
    width: 83px;
    height: 83px;
    background-color: #ffe5da;
    border-radius: 20px;
}
.main2_e > div> img{
    position: relative;
    width: 2.5vw;
    height: 4.5vh;
    margin-top: 1.9vh;

}
.main2_text1{
    color:black;
    font-size: 2vh;
    font-weight: bold;
    line-height: 175%;
    font-family: "poppins" !important;
    margin-top: 0px;
    text-align:left ;
}

.main3{
    width: 100%;
    height: 31vh;
    margin-top: 17vh;
    position: absolute;
}
.main3_text1{
    margin: 0 auto;
    margin-top: 11.5vh;
    color: #252525;
    text-align: center;
    font-family: "Poppins";
    font-size: 3.3vh;
    font-style: normal;
    font-weight: 600;
    line-height: 160%; /* 52.8px */
    width: 58.819vw;
    height: 4.4vh;
    flex-shrink: 0;
}
.main3_text2{
    margin: 0 auto;
    margin-top: 3.2vh;
    color: #868686;
    text-align: center;
    font-family: "Poppins";
    font-size: 1.8vh;
    font-style: normal;
    font-weight: 400;
    line-height: 160%; /* 52.8px */
    width: 58.819vw;
    /* height: 4.4vh; */
    flex-shrink: 0;
}